.navbar_top {
    width: 100%;
    height: 50px;
    background-color: rgb(99, 91, 80);
    padding: 0 4%;

    >.row {
        justify-content: space-between;

        >* {
            /* border: 1px solid wheat; */
            height: 100%;
        }

        >div {
            display: flex;

            >div {
                /* border: 1px solid red; */
                height: 100%;
                display: flex;
                padding: 15px;

                >* {
                    display: flex;
                    height: 100%;
                    font-size: 12px;
                    color: white;
                    align-items: center;
                }

                >i {
                    color: white;
                    font-size: 18px;
                }
            }
        }

        >nav {
            >ul {
                >li {
                    height: 100%;
                    padding: 10px;

                    >a {
                        display: flex;
                        height: 100%;
                        color: white;
                        align-items: center;
                        font-size: 18px;
                        /* border: 1px solid yellow; */
                    }

                }
            }
        }
    }
}

/* <!-- End first section --> */


.ainheader {
    width: 170px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    transition: .4s;

    &:hover {
        background-color: white;

        >span {
            color: black;
        }

        >div>i {
            color: black;

            &:first-of-type {
                left: 0;
            }

            &:last-of-type {
                left: 30px;
            }
        }
    }


    >* {
        display: flex;
        color: white;
    }

    /* >span {} */

    >div {
        position: relative;
        width: 30px;
        height: 30px;
        /* border: 1px solid red; */
        overflow: hidden;
        margin-left: 10px;
        align-items: center;
        justify-content: center;

        >i {
            position: absolute;
            width: 30px;
            transition: 1s;

            &:first-of-type {
                left: -30px;
            }

            &:last-of-type {
                left: 0;
            }
        }
    }

}

.slider {
    width: 100%;
    min-height: 50vh;
    background-image: url(../img/back.png);
    background-size: cover;
    padding: 0 4%;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &::before {
        content: '';
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.418);
        position: absolute;
        top: 0;
        left: 0;

    }

    >header,
    >.row {
        position: relative;
        z-index: 999;
    }

    >header {
        width: 100%;
        height: 100px;

        >.row {
            >* {
                height: 100%;
                /* border: 1px solid rgb(255, 255, 255); */
            }

            >figure {
                width: 35%;
                display: flex;
                padding: 5px;
            }

            >nav {
                width: 45%;

                >ul {
                    >li {
                        /* border: 1px solid red; */
                        display: flex;
                        align-items: center;
                        margin-right: 40px;

                        >a {
                            /* background-color: yellow; */
                            padding: 10px 0;
                            text-transform: capitalize;
                            position: relative;
                            color: white;
                            font-size: 20px;

                            &:hover {
                                &::after {
                                    width: 100%;
                                }
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                display: flex;
                                width: 0px;
                                height: 2px;
                                background-color: white;
                                bottom: -5px;
                                left: 0;
                                transition: .4s;
                            }
                        }
                    }
                }
            }

            >div {
                width: 20%;
                display: flex;
                justify-content: end;
                align-items: center;

                >* {
                    display: flex;
                }



                >i {
                    width: 40px;
                    height: 40px;
                    color: white;
                    font-size: 30px;
                    margin-left: 20px;
                }
            }
        }
    }

    >.row {
        /* background-color: gray; */
        justify-content: center;
        margin: 200px 0;

        >div {
            width: 70%;
            height: 300px;
            /* border: 1px solid red; */
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            >h1,
            h3 {
                width: 100%;
                color: white;
                text-transform: capitalize;
                margin: 20px 0;
                text-align: center;
            }

            >h1 {
                font-size: 60px;
            }

            >h3 {
                font-size: 25px;
                font-weight: normal;
            }

        }
    }
}

/* <!-- End second section --> */


.series {
    background-color: rgb(99, 91, 80);
    width: 100%;
    padding: 4%;

    >.row {
        justify-content: space-evenly;

        >figure {
            width: 380px;
            height: 580px;
            position: relative;
            margin: 50px 0;

            &:hover {
                >img {
                    scale: 1.02;
                }

                >div {
                    bottom: -20px;
                }
            }

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .4s;
                border-radius: 30px;
            }

            >div {
                width: 85%;
                height: 250px;
                background-color: rgba(255, 255, 255, 0.534);
                position: absolute;
                bottom: -40px;
                left: 7.5%;
                transition: .4s;
                padding: 25px;

                >* {
                    width: 100%;
                    padding: 10px 0;
                    text-align: center;
                    color: rgb(0, 0, 0);
                }

                >h2 {
                    font-size: 30px;
                }

                >p {
                    position: relative;

                    &::after {
                        content: '';
                        display: flex;
                        width: 100%;
                        height: 1px;
                        background-color: rgba(255, 255, 255, 0.603);
                        position: absolute;
                        bottom: -3px;
                        ;
                    }
                }

                >h4 {
                    margin-top: 10px;
                }

                >a {
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.432);

                }

            }
        }
    }
}

/* End third section */


.vid {
    width: 100%;
    height: 600px;
    position: relative;
    /* border: 2px solid red; */
    overflow: hidden;

    &::after {
        content: '';
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.445);
        position: absolute;
        top: 0;
        left: 0;
    }

    >video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        scale: 1.4;
    }

    >div {
        width: 70%;
        height: 70%;
        position: absolute;
        /* background-color: red; */
        left: 15%;
        top: 15%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-evenly;
        z-index: 999;

        >h2,
        >p {
            color: white;
            text-align: center;
            width: 100%;
        }

        >h2 {
            font-size: 60px;
        }

        >p {
            font-size: 17px;
        }
    }
}

/* End forth section */

.foot {
    width: 100%;
    padding: 70px 4%;
    background-color: rgb(99, 91, 80);

    >.row {
        >div {
            width: 50%;
            min-height: 100px;
            /* border: 1px solid white; */

            &:first-of-type {
                >ul {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 30px;

                    &:first-of-type {
                        >li {
                            width: 50%;
                            height: 40px;
                            /* border: 1px solid red; */
                            display: flex;
                            align-items: center;
                            color: white;
                            font-size: 18px;
                        }

                    }

                    &:last-of-type {
                        >li{
                            font-size: 20px;
                            color: white;
                            >a{
                                padding: 10px;
                            }
                            
                        }
                    }
                }
            }

            &:last-of-type {
                >*{
                    color: white;
                }
                >h5{
                    font-size: 30px;
                }
                >form{
                    >div{
                        width: 70%;
                        height: 70px;
                        border: 1px solid rgba(0, 0, 0, 0.74);
                        padding: 2px;
                        display: flex;
                        margin: 60px 0;

                        >*{
                            height: 100%;
                            border: none;
                            outline: none;
                        }
                        >input{
                            width: 65%;
                            background-color: transparent;
                            font-size: 20px;
                            padding-left: 10px;
                            
                        }
                        >button{
                            width: 35%;
                            background-color: rgb(167, 167, 167);
                            color: white;
                            font-size: 20px;

                        }
                    }
                }
            }
        }
    }
}

/* footer */
.copyright {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;

    &:hover .name {
        opacity: 1;
        transform: translateX(0);
    }

    &:hover .socials a:nth-of-type(1) {
        transition-delay: 0.1s;
        opacity: 1;
        transform: translateX(0);
        margin-left: 24px;
    }

    &:hover .socials a:nth-child(2) {
        transition-delay: 0.25s;
        opacity: 1;
        transform: translateX(0);
        margin-left: 12px;
    }

    &:hover .socials a:nth-child(3) {
        transition-delay: 0.4s;
        opacity: 1;
        transform: translateX(0);
        margin-left: 0px;
    }

}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 62% 38% 42% 58% / 41% 30% 70% 59%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.836);
    object-fit: cover;
    transition: 1.5s;

    &:hover {
        border-radius: 42% 58% 62% 38% / 70% 59% 41% 30%;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 20px;
    color: rgb(255, 241, 214);
    opacity: 0;
    transition: 1.5s;
    transform: translateX(10px);

}

.socials {
    display: flex;
    flex-direction: column;
    gap: 8px;

    >a {
        color: rgba(255, 241, 214, 0.822);
        text-decoration: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 8px;
        opacity: 0;
        transition: 0.4s ease;
        transform: translateX(10px);
    }
}

/* footer */