
.icon-right-outline:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
